<div class="bus-stop">
  <h4 title="{{stop.StopID}}">{{stop.StopName}} <button data-ng-click="deselectBusStop(stop.StopID)">X</button></h4>
  <ul class="active-routes">
    <li>Active Routes:</li>
    <li data-ng-repeat="route in stop.active_routes"><button data-ng-class="{ 'selected': routes.indexOf(route) != -1 }" data-ng-click="toggleRouteDisplay(route)">{{route}}</button></li>
  </ul>
  <table data-ng-if="stop.Predictions.length > 0">
    <tr>
      <th>min</th>
      <th>rt</th>
      <th>dir</th>
    </tr>
    <tr data-ng-repeat="prediction in stop.Predictions | orderBy:'+Minutes'">
      <td>{{prediction.Minutes > 0 ? prediction.Minutes : 'arriving'}}</td>
      <td><button data-ng-class="{ 'selected': routes.indexOf(prediction.RouteID) != -1 }" data-ng-click="toggleRouteDisplay(prediction.RouteID)">{{prediction.RouteID}}</button></td>
      <td>{{prediction.DirectionText}}</td>
    </tr>
  </table>
  <p data-ng-if="stop.Predictions.length === 0">No predictions</p>
</div>
