body { margin: 0; padding: 0; background: gray; }

header {
  position: fixed;
  width: 100%;
  left: 0; top: 0;
  height: 1em;
}

header { top: 0; }
/*footer { bottom: 0; }*/

nav li {
  height: 1em;
}
nav ul {
  margin: 0px;
}

main {
  position: relative;
  height: 100%;
  background: white;
}

.map, #dashboard {
  position: fixed;
  top: 24px;
  bottom: 0;
}

.map { /* FIXME not sure why id map doesn't work with Leaflet/Angular */
  width: 66%;;
  right: 0;
}

#dashboard {
  overflow-y: scroll;
  width: 34%;
  left: 0;
  background: white;
}

.active-routes li {
  display: inline;
  list-style-type: none;
  padding-right: 0.5em;
}

nav ul li {
  display: inline;
  list-style-type: none;
  padding-right: 0.4em;
}

.selected {
  color: white;
  background: black;
}
